body{
    background: linear-gradient(180deg, #83a8ee 0%, #284d7c 48.44%, #01080E 100%);
}

header{
    max-height: 8rem;
    align-items: center;
}

h3{
    margin: 5em 4em 2em 4em;
    text-align: center;
    font-size: 30px;
    color: #164e85;
}

.profissos{
    margin-top: 1.5em;
    color: #093460;
}

.banner__pesquisa {
    background-color: transparent;
    border: 1px solid #cccccc;
    color: #cccccc;
    border-radius: 24px;
    padding: 1.5em;
    margin: 1em 8em;
    text-align: center;
    width: 30rem;
    font-size: 20px;
    height: auto;
}

.banner__pesquisa::placeholder {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #cccccc;
    background-position: 0.8em;
}

.botao {
    background: #3d3d3d;
    border-radius: 10px;
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem 4.5rem;
    color: white;
    border: none;
    transition: all;
}

.botao:hover {
    background: rgb(17, 17, 63);
}

.botao:active {
    background: #284d7c;
}

.divBotao{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

/* Estilos para a tabela */
.tabela {
    margin: 4rem 6rem;
    background: rgba(89, 124, 190, 0.35);
    border-radius: 10px;
}

.tabela table {
    width: 100%;
    border-collapse: collapse;
}

.tabela th, .tabela td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

/* Estilos para os perfis dos usuários */
.user-info {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
}

.user-info .imageContainer {
    display: flex;
    align-items: center;
}

.user-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info .user-details {
    display: flex;
    flex-direction: column;
}

.user-info .user-details div {
    margin-bottom: 5px;
}
