body{
    background: linear-gradient(180deg, #83a8ee 0%, #284d7c 48.44%, #01080E 100%);
}

h3{
    margin: 5em 4em 2em 4em;
    text-align: center;
    font-size: 30px;
    color: #164e85;
}

.banner__pesquisa {
    background-color: transparent;
    border: 1px solid #cccccc;
    color: #cccccc;
    border-radius: 24px;
    padding: 1.5em;
    margin: 1em 8em;
    text-align: center;
    width: 30rem;
    font-size: 20px;
    height: auto;
}

.banner__pesquisa::placeholder {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #cccccc;
    background-position: 0.8em;
}

.botao {
    background: #3d3d3d;
    border-radius: 10px;
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem 4.5rem;
    color: white;
    border: none;
    transition: all;
}

.botao:hover {
    background: rgb(17, 17, 63);
}

.botao:active {
    background: #284d7c;
}

.divBotao{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-details {
    margin-left: 10px;
}

.tabela {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
}

.tabela h3 {
    text-align: center;
    margin-bottom: 20px;
}

.tabela table {
    width: 100%;
    border-collapse: collapse;
}

.tabela th, .tabela td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.tabela th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
}

.tabela td {
    vertical-align: top;
}

.imageContainer {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}

.imgPhoto {
    width: 100%;
    height: 100%;
    object-fit: cover;
}