.cabecalho{
    margin: 1rem;
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    height: 3rem;
    align-items: center;
    width: 100%;
    outline: solid var(--azul-royal);
    background-color: rgba(137, 96, 226, 0.176);

}
.fontsLinks{
    color:white;
    text-decoration: none;
}
.buttons{
    border: none;
    padding: 0.5rem;
    background: #284d7c;
    border-radius: 10px;
    border-color: #093460;
}