<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Perfil</title>
    <link rel="stylesheet" href="/css/accont.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prata&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet"/>
    <script src="/JS/accont.js" defer></script>


</head>
<body>
<header class="cabecalho">
    <div>
        <img class="logoCabecalho" src="/assets/logo-branca_2.png">
    </div>
    <div class="linkCabecalho">
        <button class="buttons">
            <a class="linkAcesso" href="/find-services">Buscar Serviços</a>
        </button>

        <button class="buttons">
            <a class="linkAcesso" href="/account">Ver Perfil</a>
        </button>
        <button class="buttons">
            <a class="linkAcesso" href="./frontPage.html">Sobre</a>

        </button>

    </div>
</header>

<div class="itensPerfil">

    <form method="POST" enctype="multipart/form-data" action="/update-user">

        <div class="fotoDePerfil">
            <div class="iconesDaFoto">
                <div class="max-width">
                    <div class="imageContainer">
                        <img th:if="${user.photo == null}" src="/assets/big-photo-camera.png" alt="Default Camera Image"
                             class="imgPhoto" id="imgPhoto"/>
                        <img th:if="${user.photo != null}" th:src="'/files/'+${user.photo}" alt="User Profile Image"
                             class="imgPhoto" id="imgPhoto"/>
                    </div>
                </div>
                <input type="file" id="flImage" name="photo" accept="image/*"/>
            </div>
        </div>
        <div class="descInfo">
            <h3>Nome</h3>
            <div th:text="${user.username}"></div>
            <h3>Cidade - </h3>
            <div th:text="${user.city}"></div>
        </div>
        <p>Descrição:</p>
        <textarea rows="4" cols="50" th:field="*{user.description}" name="description"></textarea>
        <div class="divBotao">
            <input type="submit" value="Salvar" class="botaoSalvar"/>
        </div>
    </form>

</div>


<div th:if="${message}">
    <h2 th:text="${message}"></h2>
</div>


<div>
    <ul>
        <li th:each="file : ${files}">
            <a th:href="${file}" th:text="${file}"></a>
        </li>
    </ul>
</div>
<footer class="app__footer">
    <p class="app__footer-text">
        Projeto executado por alunos do programa Entra21 - 2023 no curso de Lógica de Java.
        <br>
        <a href="https://www.linkedin.com/in/gustavohenriquerambo/">Gustavo Henrique Rambo</a>  |
        <a href="https://www.linkedin.com/in/andr%C3%A9-ullrich-54aa11251">André Luis Ullrich Valverde</a>  |
        <a href="https://www.linkedin.com/in/felipe-gabriel-haerthel-b47b3a27a ">Felipe Gabriel Haerthel</a>  |
        <a href="https://www.linkedin.com/in/gabriel-marquioli-b6040b2a6/">Gabriel Marquioli dos Santos</a>
    </p>
</footer>

</body>
</html>