<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Perfil</title>
</head>
<body>
<header th:replace="~{/complements/header :: header}"></header>


<div th:text="${user.username}"></div>
<div th:text="${user.city}"></div>
<div th:text="${user.email}"></div>
<img th:src="'/files/'+${user.photo}" alt="Foto de Perfil">


<div th:if="${message}">
    <h2 th:text="${message}"></h2>
</div>


<div>
    <form method="POST" enctype="multipart/form-data" action="/add/update-photo">
        <table>
            <tr>
                <td>File to upload:</td>
                <td>
                    <input type="file" name="photo" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Upload" />
                </td>
            </tr>
        </table>
    </form>
</div>

<div>
    <ul>
        <li th:each="file : ${files}">
            <a th:href="${file}" th:text="${file}"></a>
        </li>
    </ul>
</div>
</body>
</html>