<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buscar Serviços</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/find-services.css">
</head>
<header class="cabecalho">
    <div>
        <img class="logoCabecalho" src="/assets/logo-branca_2.png">
    </div>
    <div class="linkCabecalho">
        <a class="linkAcesso" href="login">Login</a>
        <a class="linkAcesso" href="#">Sobre Nós</a>
    </div>
</header>
<body>
<div>
    <h3>O Severino não é apenas uma plataforma de conexão de pessoas autônomas; é uma comunidade que incentiva o
        crescimento e a excelência. Estamos comprometidos em fornecer um ambiente seguro e confiável para que você
        encontre os melhores profissionais para suas necessidades.</h3>
    <form method="POST" enctype="multipart/form-data" action="/filter-services">
        <div class="divBotao">
            <input type="text" name="filter" class="banner__pesquisa" placeholder="Digite aqui a profissão que deseja...">

        </div>
        <div class="divBotao">
            <input type="submit" value="Filtrar" class="botao"/>
        </div>
    </form>
</div>

<div class="tabela">
    <h3 class="profissos">Profissões</h3>
    <table border="1">
        <thead>
        <tr>
            <th>Profissão</th>
            <th>Profissionais</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="role : ${roles}">
            <td th:text="${role.name}" style="text-align: center; font-weight: bold;"></td>
            <td>
                <div th:each="user : ${role.users}" class="user-info">
                    <div class="imageContainer">
                        <img th:if="${user.photo == null}" src="/assets/big-photo-camera.png" alt="Imagem da Câmera Padrão" class="imgPhoto" id="imgPhoto" />
                        <img th:if="${user.photo != null}" th:src="'/files/'+${user.photo}" alt="Imagem de Perfil do Usuário" class="imgPhoto" id="imgPhoto" />
                        <div class="user-details">
                            <div th:text="${user.username}"></div>
                            <div th:text="${user.city}"></div>
                            <div th:text="${user.email}"></div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>