<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buscar Serviços</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/find-services.css">
</head>
<header class="cabecalho">
    <div>
        <img class="logoCabecalho" src="/assets/logo-branca_2.png">
    </div>
    <div class="linkCabecalho">
        <a class="linkAcesso" href="login">Login</a>
        <a class="linkAcesso" href="#">Sobre Nós</a>
    </div>
</header>
<body>
<div>
    <h3>O Severino não é apenas uma plataforma de conexão de pessoas autônomas; é uma comunidade que incentiva o crescimento e a excelência. Estamos comprometidos em fornecer um ambiente seguro e confiável para que você encontre os melhores profissionais para suas necessidades.</h3>
    <form method="POST" enctype="multipart/form-data" action="/filter-services">
        <div>
            <p></p>
            <textarea name="filter" class="banner__pesquisa" placeholder="Digite aqui a profissão que deseja..."></textarea>

        </div>
        <div class="divBotao">
            <input type="submit" value="Filtrar" class="botao"/>
        </div>
    </form>
</div>

<div>
    <h3>Profissões</h3>
    <table border="1">
        <thead>
        <tr>
            <th>Profissão</th>
            <th>Profissionais</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tempRole:${roles}">
            <td th:text="${tempRole.name}" />
            <td>
                <div th:each="tempUser:${tempRole.users}">
                    <div th:text="${tempUser.username}"></div>
                    <div th:text="${tempUser.city}"></div>
                    <div th:text="${tempUser.email}"></div>
                    <div clas="max-width">
                        <div class="imageContainer">
                            <img th:if="${tempUser.photo == null}" src="/assets/big-photo-camera.png" alt="Default Camera Image" class="imgPhoto" id="imgPhoto" />
                            <img th:if="${tempUser.photo != null}" th:src="'/files/'+${tempUser.photo}" alt="User Profile Image" class="imgPhoto" id="imgPhoto" />
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tbody>
    </table>
</div>

</body>
</html>