<!DOCTYPE html>
<html lang="pt-br" data-contexto>

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Severino</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
          integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prata&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap"
            rel="stylesheet"/>
    <link rel="stylesheet" href="./Styles/frontPage.css"/>

</head>

<body>
<main class="app">

    <header class="app__header">
        <figure class="app__logo-figure">
            <img class="app__logo-image" src="../IMG/logo-branca_1.png" alt=""/>
        </figure>
    </header>

    <section class="app__section-banner-container">
        <h1 class="app__title">
            Soluções à um<br/>
            <strong class="app__title-strong" id="distancia"> toque de distância.</strong>
        </h1>
    </section>

    <section class="app__section-card-container">
        <div class="app__card" id="espacoLogin">
            <ul class="app__card-list">
                <li class="app__card-list-item">
                    <button class="app__card-button app__card-button--prestador" id="IDprestador">
                        Prestador de Serviços
                    </button>
                </li>
                <li class="app__card-list-item">
                    <button class="app__card-button app__card-button--cliente" id="IDcliente">
                        Cliente
                    </button>
                </li>
            </ul>

            <div id="prestador">
                &emsp; Numa plataforma dedicada à divulgação de serviços autônomos, o prestador
                destaca-se ao publicar uma variedade de serviços, exibindo com orgulho seu trabalho.
                Além disso, a plataforma oferece a valiosa funcionalidade de permitir que o prestador avalie os
                clientes,
                contribuindo para a construção de uma comunidade transparente e confiável.
            </div>

            <div id="cliente">
                &emsp; Ao utilizar a plataforma, o cliente tem a conveniência de
                contratar prestadores disponíveis para todas as adversidades na região, facilitando a comunicação para
                discutir
                detalhes e preços do serviço desejado. Sua experiência é aprimorada, pois pode indicar ou não o
                prestador com base na qualidade do serviço prestado,
                promovendo uma comunidade colaborativa e transparente.
            </div>

        </div>
    </section>

    <section class="app__section-task-container">
        <div class="app__section-task-content">

            <header class="app__section-active-task">
                <h2 class="sobreProjeto">O Projeto</h2>
            </header>

            <p class="sobreProjeto">
                &emsp; Você ja sentiu dificuldade em contratar um profissional de
                confiança e qualificado para trazer uma solução seus problemas? <br><br>
                &emsp; O Severino é solução para você! <br>
                Temos em vista, a criação de uma comunidade com
                excelentes profissionais onde todas as suas necessidades serão atendidas, conforme demanda desejada. <br><br>

                &emsp;Na nossa plataforma, temos o sistema de plantão 24/7, onde profissionais
                de diversas áreas estarão disponíveis para atender
                as necessidades do contratantes.
                Os prestadores de serviços de plantão, terão
                acréscimo no valor do serviço prestado, pois nós do Severino,
                também valorizamos a disponibilidade dos profissionais que atendem
                fora do horário convencional. <br><br>

                &emsp;Através das avaliações e Feedbacks, o incentivo ao aperfeiçoamento dos prestadores de serviços,
                resultando na melhora do objetivo final:
                EXCELÊNCIA NO ATENDIMENTO.
                <br><br>
                &emsp; Após análise das plataformas digitais já existentes, percebeu-se a necessidade de
                uma plataforma que entrelace interatividade, apresentação do perfil dos contratados e
                que permita ao contratante escolher qual profissional deseja contratar. Deste modo, a
                plataforma SEVERINO emerge no mercado com foco primordial na experiência dos usuários, proporcionando
                uma interação intuitiva, interativa e segura tanto para o contratante quanto para o contratado.
                <br><br>
                &emsp; A plataforma SEVERINO é uma solução inovadora que visa simplificar o processo de contratação de
                profissionais. Com sua interface intuitiva e interativa, os usuários podem facilmente visualizar
                o perfil dos contratados e escolher o profissional que melhor atenda às suas necessidades.
                Além disso, a plataforma oferece segurança tanto para o contratante quanto para o contratado,
                garantindo uma experiência tranquila e confiável.
                <br><br>
                &emsp; Com o SEVERINO, a contratação de profissionais nunca foi tão fácil e segura. Experimente agora
                mesmo e
                descubra como a plataforma pode ajudá-lo a encontrar o profissional ideal para o seu projeto.
                <br><br>
            </p>

            <hr>

            <header class="app__section-active-task">
                <h2 class="sobreNos">Sobre nós</h2>
            </header>

            <p class="sobreNos">
                <span>Gustavo Henrique Rambo</span> <br><br>
                &emsp;Tenho 31 anos, sou líder e
                idealizador do tema da plataforma e participei de todas as etapas do projeto,
                desde a organização, arrecadação de fundos até o desenvolvimento tanto de
                front-end quanto back-and. <br>

                &emsp;Sou estudante do segundo período de Ciências da computação.
                Tenho 8 anos de experiência com atendimento e em diversas áreas da indústria,
                mas venho há aproximadamente 3 anos estudando pra ser desenvolvedor e sei que
                com a minha experiência e dedicação posso contribuir muito com os objetivos e metas
                de uma empresa de software.

                <br><br><br>

                <span>André Luis Ullrich Valverde</span> <br><br>
                &emsp;Tenho 16 anos e estou no segundo ano do ensino médio, possuo familiaredade com o inglês e
                tenho também uma base de conhecimentos no back-end. <br>
                &emsp;Ingressei no entra21 com a intenção de me desenvolver pessoalmente
                e nesse projeto foi responsável principalmente pela parte do front end, utilizando várias tecnologias. <br>
                &emsp;Com a enorme carga do entra21 busco uma oportunidade no mercado de trabalho e futuramente me vejo como uma pessoa de credibilidade na área.

                <br><br><br>

                <span>Felipe Gabriel Haerthel</span> <br><br>
                &emsp;Tenho 17 anos, gosto de jogar videogame e fazer trilhas de moto. <br>
                &emsp;Peguei gosto pela area de programação quando iniciei um curso de python presencial, então decidi me inscrever no
                entra21, onde aprendi a desenvolver em frontend e backend. <br>
                &emsp;Além da familiaridade com o inglês, pois faço curso a 3 anos na KNN idiomas,
                contribui na parte do back-end e banco de dados do projeto
                e agora estou em busca de uma oportunidade na área.

                <br><br><br>

                <span>Gabriel Marquioli dos Santos</span> <br><br>
                &emsp;Tenho 25 anos, sou militar há mais de 7 anos, carrego comigo,
                valores como: disciplina, respeito, proatividade e senso de dever cumprido. <br>
                &emsp;Decidi participar
                do Projeto Entra21 com o objetivo de aprimorar minhas habilidades na area da
                tecnologia, motivado pela grande visibilidade do programa e pelas inúmeras oportunidades
                que esta área oferece.<br>
                &emsp;Tenho facilidade no idioma inglês e iniciei meus estudos no italiano, dentro do
                projeto Severino colaborei com a parte de front end.
            </p>
        </div>
    </section>

    <footer class="app__footer">
        <p class="app__footer-text">
            Projeto executado por alunos do programa Entra21 - 2023 no curso de Lógica de Java.
            <br>
            <a href="https://www.linkedin.com/in/gustavohenriquerambo/">Gustavo Henrique Rambo</a>  |
            <a href="https://www.linkedin.com/in/andr%C3%A9-ullrich-54aa11251">André Luis Ullrich Valverde</a>  |
            <a href="https://www.linkedin.com/in/felipe-gabriel-haerthel-b47b3a27a ">Felipe Gabriel Haerthel</a>  |
            <a href="https://www.linkedin.com/in/gabriel-marquioli-b6040b2a6/">Gabriel Marquioli dos Santos</a>
        </p>
    </footer>
</main>
</body>
<script src="./Script/frontPage.js" defer></script>
<script src="./Script/jquery-3.7.1.js"></script>

<script>

    $(document).ready(function () {
        $(".app__card-button--prestador").click(function (e) {
            $("#cliente").slideUp(200);
            $("#prestador").slideDown(200);

        })
        $(".app__card-button--cliente").click(function (e) {
            $("#prestador").slideUp(200);
            $("#cliente").slideDown(200);
        })

    })

</script>

</html>