<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
<header class="cabecalho">
    <div>
        <img class="logoCabecalho" src="/assets/logo-branca_2.png">
    </div>
    <div class="linkCabecalho">
        <a class="linkAcesso" href="login">Login</a>
        <a class="linkAcesso" href="#">Sobre Nós</a>
    </div>
</header>
<main>
    <div class="divisaoCentral">
        <div>
            <h1>Conteudo</h1>
        </div>
        <div class="caixaDeCadastro">
            <form  method="post" role="form" th:action="@{/register/save}" th:object="${user}">
                <div class="erro" th:if="${param.fail}">
                    Este e-mail já tem uma conta aqui!
                </div>
                <p>Nome Completo</p>
                <input type="text" name="username" id="username" th:field="${user.username}">

                <p>Email</p>
                <input type="text" name="username" id="email" th:field="${user.email}">


                <p>Password</p>
                <input type="password" name="password" id="password" th:field="${user.password}">

                <p>CPF</p>
                <input type="text" name="username" id="CPF" th:field="${user.CPF}">

                <p>Genêro</p>
                <div class="organizadorDeOpcoes">
                    <input type="radio" name="gender" id="female" th:field="${user.gender}" value="Female"> Feminino
                    <input type="radio" name="gender" id="male" th:field="${user.gender}" value="Male"> Masculino
                    <input type="radio" name="gender" id="others" th:field="${user.gender}"value="Others"> Outros
                </div>

                <p>UF</p>
                <input type="text" name="UF" id="UF" th:field="${user.UF}">

                <p>Cidade</p>
                <input type="text" name="city" id="city" th:field="${user.city}">

                <p>Data De Nascimento</p>
                <input type="date" name="birthday" id="birthday" th:field="${user.birthday}">

                <p>Qual sua opção de uso do Severino?</p>
                <div class="organizadorDeOpcoes">
                    <input class="opcaoDeUsoCadastro" type="radio" name="worker" id="worker" th:field="${user.worker}" value="WORKER">Profissional
                    <input class="opcaoDeUsoCadastro" type="radio" name="notWorker" id="notWorker" th:field="${user.worker}" value="notWORKER">Cliente
                </div>
                <div class="divBotao">
                    <button class="botao" type="submit">Enviar</button>
                </div>

                <div>
                    <p th:if="${#fields.hasErrors('password')}"></p>
                </div>

            </form>

        </div>
    </div>

</main>

</body>
</html>