<header th:fragment="header"
        xmlns:sec="http://www.w3.org/1999/xhtml">
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/thymeleafHeaderCss.css">
<head>

</head>
<header class="cabecalho">
    <meta charset="UTF-8">
    <title>Header</title>

    <button class="buttons">
        <a class="fontsLinks" href="/add-services">Adicionar Serviços</a>
    </button>
    <button class="buttons">
        <a class="fontsLinks" href="/find-services">Buscar Serviços</a>
    </button>
</header>
<body>

</body>
</html>